<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.sys.cms.persist.mapper.UserRoleMapper">
  <resultMap id="BaseResultMap" type="org.ack.sys.cms.pojo.UserRole">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="userId" jdbcType="INTEGER" property="userId" />
    <result column="roleId" jdbcType="INTEGER" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    id, userId, roleId, creator, createtime, modifier, modifyTime
  </sql>
  <select id="findById" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findByUserId" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_user_role
    where userId = #{id}
  </select>
  <delete id="deleteById" parameterType="java.lang.Integer">
    delete from cms_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.ack.sys.cms.pojo.UserRole">
    insert into cms_user_role (id, userId, roleId, creator, createtime, modifier, modifyTime
      )
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}
    ,#{creator}, #{createTime}, #{modifier}, #{modifyTime}
      )
  </insert>
 
  <update id="update" parameterType="org.ack.sys.cms.pojo.UserRole">
    update cms_user_role
    <set>
      <if test="userId != null">
        userId = #{userId,jdbcType=INTEGER},
      </if>
      <if test="roleId != null">
        roleId = #{roleId,jdbcType=INTEGER},
      </if>
      <if test="modifier != null">
		modifier = #{modifier},
	  </if>
	  <if test="modifyTime != null">
		modifyTime = #{modifyTime},
	  </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
 
</mapper>