<?xml version="1.0" encoding="UTF-8" ?>
<!-- Copyright 2015-2016 the original author or authors. Licensed under the 
	Apache License, Version 2.0 (the "License"); you may not use this file except 
	in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 
	Unless required by applicable law or agreed to in writing, software distributed 
	under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES 
	OR CONDITIONS OF ANY KIND, either express or implied. See the License for 
	the specific language governing permissions and limitations under the License. -->
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<package name="org.ack.sys.pojo" />
	</typeAliases>
	<plugins>
		<plugin
			interceptor="org.ack.sys.base.persist.page.PageIntercepter">
			<property name="dataBaseType" value="mysql" />
		</plugin>
	</plugins>
	<environments default="development">
		<environment id="development">
			<transactionManager type="jdbc" />
			<dataSource type="POOLED">
				<property name="driver" value="com.mysql.cj.jdbc.Driver" />
				<!-- <property name="url" value="jdbc:mysql://127.0.0.1:3306/portal?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=UTC" /> -->
				<property name="url" value="jdbc:mysql://127.0.0.1:3306/portal?useUnicode=true&amp;characterEncoding=UTF-8&amp;serverTimezone=GMT%2B8" />
				<property name="username" value="root" />
				<property name="password" value="root" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="config/mappers/UserMapper.xml" />
		<mapper resource="config/mappers/MenuMapper.xml" />
		<mapper resource="config/mappers/DepartmentMapper.xml" />
		<mapper resource="config/mappers/RoleMapper.xml" />
		<mapper resource="config/mappers/UserRoleMapper.xml" />
		<mapper resource="config/mappers/RoleMenuMapper.xml" />
		<mapper resource="config/mappers/DictionaryMapper.xml" />
		<mapper resource="config/mappers/PortalMenuMapper.xml" />
		<mapper resource="config/mappers/PortalArticleMapper.xml" />
		<mapper resource="config/mappers/PortalArticleDetailMapper.xml" />
		<mapper resource="config/mappers/PortalCarouselMapper.xml" />
	</mappers>
</configuration>
