<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>上传测试</title>
</head>
<body>
   <form enctype="multipart/form-data" method="post" action="/upload">
       <table>
           <tr><td>name</td><td><input name="username"/></td></tr>
           <tr><td>path</td><td><input name="path" value="/20200708"/></td></tr>
           <tr><td>file</td><td><input type="file" name="file"/></td></tr>
           <tr><td></td><td><input type="submit" /></td></tr>
       </table>
   </form>
</body>
</html>