<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
<meta charset="UTF-8">
<title>Title</title>
</head>
<body>
	<div class="footer" th:fragment="footer">
		<div class="container">
			<div class="link">
				<span class="l">友情链接1：</span>
				<div class="a">
					<a href="http://www.nhc.gov.cn/" target="_blank">中华人民共和国国家卫生健康委员会</a>
					<a href="http://wjw.beijing.gov.cn/" target="_blank">北京市卫生健康委员会</a>
					<a href="http://www.cams.ac.cn/" target="_blank">中国医学科学院</a> <a
						href="http://www.pumf.org/" target="_blank">北京协和医学基金会</a> <a
						href="http://www.xiehekjkf.com/" target="_blank">协和科技开发有限责任公司</a>
					<a class="last" href="http://www.xiehejx.com/" target="_blank">协和化妆品</a>
				</div>
			</div>
			<div class="copy row">
				<div class="col-lg-6 left">
					<div class="siteMap">
						<a href="/sitemap.html">网站地图</a> <a href="/research/gudie.html">关于我们</a>
					</div>
					<p class="cf address">
						<span>地 址：</span> <span class="div"> <b>（东单院区）北京市东城区帅府园一号，100730；</b>
							<b>（西单院区）北京市西城区大木仓胡同41号，100032</b>
						</span>
					</p>
					<p>服务热线： 010-69156114</p>
				</div>
				<div class="col-lg-6 right">
					<p>
						Copyright 北京协和医院 All Rights Reserved. 本站内容仅供参考，不作为诊断及医疗依据 <br>
						京ICP 备 05067313号-1 文保网安备案号：1101010023 京卫网审字【2014】第39号
					</p>
				</div>
			</div>
		</div>
		<script src="../static/lib/jquery/jquery-3.3.1.min.js" th:src="@{/lib/jquery/jquery-3.3.1.min.js}"></script>
		<script src="../static/lib/bootstrap/js/bootstrap.min.js" th:src="@{/lib/bootstrap/js/bootstrap.min.js}"></script>
		<script src="../static/js/base.js" th:src="@{/js/base.js}"></script>
		<script>
            PortalBase.ksdh.init();
		</script>
	</div>
</body>
</html>