<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.sys.cms.persist.mapper.DictionaryMapper">
  <resultMap id="BaseResultMap" type="org.ack.sys.cms.pojo.Dictionary">
    <id column="id" jdbcType="INTEGER" property="id" />
    <id column="key" jdbcType="VARCHAR" property="key" />
    <result column="value" jdbcType="VARCHAR" property="value" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modifier" jdbcType="INTEGER" property="modifier" />
    <result column="modifyTime" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="deleteStatus" jdbcType="INTEGER" property="deleteStatus" />
  </resultMap>
  <sql id="Base_Column_List">
    id, `key`, `value`, type, remark, creator, createTime, modifier, modifyTime, deleteStatus
  </sql>
  <select id="find" parameterType="org.ack.sys.cms.pojo.Dictionary" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_dict
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="findById" parameterType="long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_dict
    where id = #{id}
  </select>
  <select id="findByKey" parameterType="string" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cms_dict
    where `key` = #{key}
  </select>
  <select id="findInterceptorPageList" parameterType="org.ack.sys.base.persist.page.Page" resultMap="BaseResultMap">
	    select <include refid="Base_Column_List"></include>
	    from cms_dict
	    <where>
	        1 = 1
	        and deleteStatus = 0
	        <if test="condition.key != null and condition.key !=''">
				and key=#{condition.key}
			</if>
	    </where>
	</select>
  <delete id="delete" parameterType="org.ack.sys.cms.pojo.Dictionary">
    delete from cms_dict
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteById" parameterType="org.ack.sys.cms.pojo.Dictionary">
    delete from cms_dict
    where id = #{id,jdbcType=INTEGER}
      and key = #{key,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByKey" parameterType="org.ack.sys.cms.pojo.Dictionary">
    delete from cms_dict
    where key = #{key,jdbcType=VARCHAR}
  </delete>
  
  <insert id="insert" parameterType="org.ack.sys.cms.pojo.Dictionary">
    INSERT INTO cms_dict (`key`, `value`, type, remark, creator, createTime, modifier, modifyTime, deleteStatus)
    VALUES (#{key}, #{value}, #{type}, #{remark}, #{creator}, #{createTime}, #{modifier}, #{modifyTime}, #{deleteStatus})
  </insert>
  
  <update id="updateByKey" parameterType="org.ack.sys.cms.pojo.Dictionary">
    update cms_dict
    <set>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type},
      </if>
      <if test="remark">
       remark= #{remark},
      </if>
      <if test="creator > 0">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        deleteStatus = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    where  `key` = #{key}
  </update>
  
  <update id="update" parameterType="org.ack.sys.cms.pojo.Dictionary">
    update cms_dict
    <set>
      <if test="key != null">
        `key` = #{key,jdbcType=VARCHAR},
      </if>
      <if test="value != null">
        `value` = #{value,jdbcType=VARCHAR},
      </if>
      <if test="type >= 0">
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark},
      </if>
      <if test="creator > 0">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifier != null">
        modifier = #{modifier,jdbcType=INTEGER},
      </if>
      <if test="modifyTime != null">
        modifyTime = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="deleteStatus != null">
        deleteStatus = #{deleteStatus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  
</mapper>