<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ack.persist.mapper.EmployeeMapper">
	<resultMap type="org.ack.pojo.Project" id="projectResultMap">
		<result property="id" column="id" />
		<result property="projectId" column="projectId" />
		<result property="projectName" column="projectName" />
		<result property="managerId" column="managerId" />
		<result property="managerName" column="managerName" />
		<result property="task" column="task" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="startTime" column="startTime" />
		<result property="endTime" column="endTime" />
	</resultMap>
     
     <sql id="base_column">
          id,name,deptId,managerId,type,status,startTime,endTime,remark
     </sql>

	<select id="findInterceptorPageList" parameterType="org.ack.persist.page.Page"
		resultMap="projectResultMap">
		SELECT
			apt.id,
			apt.`name`,
			apt.managerId,
			apt.`status`,
		    apt.type,
			apt.startTime,
			apt.endTime,
		    apt.remark,
		    CONCAT(au.surname,au.`name`) AS managerName
		FROM
			ack_project apt
		LEFT JOIN ack_project_user atu ON atu.projectId = apt.id
		LEFT JOIN ack_user au ON au.id = apt.managerId
		<where>
		    1 = 1
			<if test="condition.userId != null and condition.userId !=''">
				AND atu.userId = #{condition.userId}
			</if>
			<if test="condition.name != null and condition.name !=''">
				or apt.`name`=#{condition.name}
			</if>
			<if test="condition.priority != null and condition.priority !=''">
				or apt.priority=#{condition.priority}
			</if>
			<if test="condition.status != null and condition.status !=''">
				or apt.status=#{condition.status}
			</if>
			<if test="condition.startTime != null and condition.startTime !=''">
				or apt.startTime=#{condition.startTime}
			</if>
		</where>
	</select>

</mapper>