<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.persist.mapper.MenuMapper">
	<resultMap type="org.ack.pojo.Menu" id="menuResultMap">
		<result property="id" column="id" />
		<result property="menuName" column="menuName" />
		<result property="url" column="url" />
		<result property="menuType" column="menuType" />
		<result property="css" column="css" />
		<result property="domId" column="domId" />
		<result property="parentId" column="parentId" />
		<result property="menuLevel" column="menuLevel" />
		<result property="permission" column="permission" />
		<result property="comments" column="comments" />
		<result property="createTime" column="createTime" />
	</resultMap>

	<insert id="insert">
		INSERT INTO
		ack_menu(menuName,url,menuType,parentId,css,domId,menuLevel,permission,comments,createTime)
		VALUES
		(#{menuName},#{url}, #{menuType},#{parentId},#{css},#{domId},#{menuLevel},#{permission},#{comments}, now())
	</insert>
	
	<select id="find" parameterType="menu" resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		parentId,
		css,
		domId,
		permission,
		menuLevel,
		comments,
		createTime
		FROM
		ack_menu
		WHERE id = #{id}
	</select>

	<select id="findById" parameterType="int" resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		css,
		domId,
		parentId,
		permission,
		menuLevel,
		comments,
		createTime
		FROM
		ack_menu
		WHERE id = #{id}
	</select>
	
	<select id="findAll" parameterType="int" resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		css,
		domId,
		parentId,
		permission,
		menuLevel,
		comments,
		createTime
		FROM
		ack_menu
	</select>
	
	<select id="findMenuByPId" parameterType="int" resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		css,
		domId,
		parentId,
		permission,
		menuLevel,
		comments,
		createTime
		FROM
		ack_menu
		WHERE parentId = #{parentId}
	</select>
	
	<select id="findByIds" parameterType="int" resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		css,
		domId,
		parentId,
		permission,
		menuLevel,
		comments,
		createTime
		FROM
		ack_menu
		WHERE id in
		<foreach collection="array" item="ids" index="index"
            open="(" close=")" separator=",">
            #{ids}
        </foreach>
	</select>
	
	<update id="update" parameterType="menu">
		UPDATE
		ack_menu ar
		SET
	    <if test="menuName != null and menuName !=''">
	       ar.menuName = #{menuName},
	    </if>
	    <if test="url != null and url !=''">
	       ar.url = #{url},
	    </if>
	    <if test="menuType != null and menuType !=''">
	       ar.menuType = #{menuType},
	    </if>
	    <if test="permission != null and permission !=''">
	       ar.permission = #{permission},
	    </if>
	    <if test="menuName != null and menuName !=''">
	       ar.menuName = #{menuName},
	    </if>
	    <if test="menuLevel != null and menuLevel !=''">
	       ar.menuLevel = #{menuLevel},
	    </if>
	    <if test="css != null and css !=''">
	       ar.css = #{css},
	    </if>
	    <if test="domId != null and domId !=''">
	       ar.domId = #{domId},
	    </if>
	    <if test="parentId != null and parentId !=''">
	       ar.parentId = #{parentId},
	    </if>
	    <if test="comments != null and comments !=''">
	       ar.comments = #{comments},
	    </if>
	    <if test="createTime != null and createTime !=''">
	       ar.createTime = #{createTime},
	    </if>
	    ar.id = ar.id
		WHERE id = #{id}
	</update>
	
	<delete id="deleteById" parameterType="int">
	   DELETE FROM ack_menu
	   WHERE id = #{id}
	</delete>
	
	<delete id="delete" parameterType="role">
	   DELETE FROM ack_menu
	   WHERE id = #{id}
	</delete>

	<select id="findInterceptorPageList" parameterType="org.ack.persist.page.Page"
		resultMap="menuResultMap">
		SELECT
		id,
		menuName,
		url,
		menuType,
		permission,
		parentId,
		menuLevel,
		css,
		domId,
		comments,
		createTime
		FROM
		ack_menu
		WHERE 1 = 1
		<if test="condition.menuName != null and condition.menuName !=''">
			and menuName=#{condition.menuName}
		</if>
		<if test="condition.menuType != null and condition.menuType !=''">
			and menuType=#{condition.menuType}
		</if>
		<if test="condition.parentId != null and condition.parentId !=''">
			and parentId=#{condition.parentId}
		</if>
	</select> 
	
</mapper>