<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.persist.mapper.ProductMapper">
	<resultMap type="org.ack.pojo.Product" id="ProductResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="brandId" column="brandId" />
		<result property="unitPrice" column="unitPrice" />
		<result property="url" column="url" />
		<result property="unit" column="unit" />
		<result property="amount" column="amount" />
		<result property="code" column="code" />
		<result property="spec" column="spec" />
		<result property="remark" column="remark" />
		<result property="createTime" column="createTime" />
		<association  property="brand" javaType="org.ack.pojo.Brand">
			<id property="id" column="brandId"></id>
			<result property="name" column="brand_name"></result>
			<result property="address" column="brand_address"></result>
			<result property="phone" column="brand_phone"></result>
		</association>
	</resultMap>

	<sql id="base_column">
		id,name,type,unitPrice,url,unit,code,spec,brandId,amount,remark,createTime
	</sql>
	<insert id="insert">
		INSERT INTO
		ack_product(name,type,unitPrice,url,unit,code,spec,brandId,amount,remark,createTime)
		VALUES
		<if test="createTime != null and createTime !=''">
			(#{name},#{type},#{unitPrice},#{url},#{unit},#{code},#{spec},#{brandId},#{amount},#{remark},#{createTime})
		</if>
		<if test="createTime == null or createTime ==''">
			(#{name},#{type},#{unitPrice},#{url},#{unit},#{code},#{spec},#{brandId},#{amount},#{remark},now())
		</if>
	</insert>

	<select id="findByIds" parameterType="string" resultMap="ProductResultMap">
		SELECT
		<include refid="base_column"></include>
		FROM ack_product ar
		where ar.id in
		<foreach collection="array" item="ids" index="index" open="("
			close=")" separator=",">
			#{ids}
		</foreach>
	</select>



	<select id="findById" parameterType="int" resultMap="ProductResultMap">
		SELECT
			ap.id,
			ap.NAME,
			ap.type,
			ap.unitPrice,
			ap.url,
			ap.code,
			ap.unit,
			ap.spec,
			ap.amount,
			ap.brandId,
			ap.remark,
			ap.createTime,
			abr.`name` AS brand_name,
			abr.address AS brand_address,
			abr.phone AS brand_phone
		FROM
		    ack_product ap
		LEFT JOIN ack_brand abr ON ap.brandId = abr.id
		WHERE ap.id = #{id}
	</select>
	<select id="findProductByCode" parameterType="string" resultMap="ProductResultMap">
		SELECT
			ap.id,
			ap.NAME,
			ap.type,
			ap.unitPrice,
			ap.url,
			ap.code,
			ap.unit,
			ap.spec,
			ap.amount,
			ap.brandId,
			ap.remark,
			ap.createTime,
			abr.`name` AS brand_name,
			abr.address AS brand_address,
			abr.phone AS brand_phone
		FROM
		    ack_product ap
		LEFT JOIN ack_brand abr ON ap.brandId = abr.id
		WHERE ap.code = #{code}
	</select>
	
	<select id="find" parameterType="int" resultMap="ProductResultMap">
		SELECT
		<include refid="base_column"></include>
		FROM
		ack_product
		WHERE id = #{id}
	</select>

	<update id="update" parameterType="Product">
		UPDATE
		ack_product ar
		<set>
			<if test="name != null and name !=''">
				ar.name = #{name},
			</if>
			<if test="brandId != null and brandId !=''">
				ar.brandId = #{brandId},
			</if>
			<if test="type != null and type !=''">
				ar.type = #{type},
			</if>
			<if test="amount != null and amount !=''">
				ar.amount = #{amount},
			</if>
			<if test="remark != null and remark !=''">
				ar.remark = #{remark},
			</if>
			<if test="unitPrice != null and unitPrice !=''">
				ar.unitPrice = #{unitPrice},
			</if>
			<if test="url != null and url !=''">
				ar.url = #{url},
			</if>
			<if test="code != null and code !=''">
				ar.code = #{code},
			</if>
			<if test="url != null and url !=''">
				ar.code = #{code},
			</if>
			<if test="unit != null and unit !=''">
				ar.unit = #{unit},
			</if>
			<if test="createTime != null and createTime !=''">
				ar.createTime = #{createTime},
			</if>
		</set>
		<where>
			ar.id = #{id}
		</where>
	</update>

	<delete id="deleteById" parameterType="int">
		DELETE FROM ack_product
		WHERE id = #{id}
	</delete>

	<delete id="delete" parameterType="Product">
		DELETE FROM ack_product
		WHERE id = #{id}
	</delete>

	<select id="findAll" resultMap="ProductResultMap">
		SELECT
		<include refid="base_column"></include>
		FROM
		ack_product
	</select>
	
	<select id="findInterceptorPageList" parameterType="org.ack.persist.page.Page"
		resultMap="ProductResultMap">
		SELECT
			ap.id,
			ap.NAME,
			ap.type,
			ap.unitPrice,
			ap.url,
		    ap.code,
		    ap.unit,
		    ap.spec,
		    ap.amount,
			ap.brandId,
			ap.remark,
			ap.createTime,
			abr.`name` AS brand_name,
			abr.address AS brand_address,
			abr.phone AS brand_phone
		FROM
		    ack_product ap
		LEFT JOIN ack_brand abr ON ap.brandId = abr.id
		<where>
		    1 = 1
		    <if test="condition.name != null and condition.name !=''">
				AND ap.name LIKE CONCAT('%',#{condition.name},'%')
		    </if>
			<if test="condition.code != null and condition.code !=''">
				AND ap.code = #{condition.code}
			</if>
		</where>
		
	</select>

</mapper>