<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.persist.mapper.ProjectLinkDepartMentMapper">
	<resultMap type="org.ack.pojo.ProjectLinkDepartMent" id="projectLinkDepartMentResultMap">
		<result property="id" column="id" />
		<result property="projectId" column="projectId" />
		<result property="departmentId" column="departmentId" />
	</resultMap>
	
	<sql id="base_column">
	    id, projectId, departmentId
	</sql>
	<select id="findById" parameterType="long" resultMap="projectLinkDepartMentResultMap">
		SELECT
		<include refid="base_column"/>
		FROM ack_project_dept
		WHERE id = #{id}
	</select>
	<insert id="insert">
	    INSERT INTO
	    ack_project_dept(projectId, departmentId)
	    VALUES
	    (#{projectId}, #{departmentId})
	</insert>
	<delete id="deleteByProjectId" parameterType="long">
	    DELETE FROM ack_project_dept
        WHERE projectId = #{id}
	</delete>
</mapper>

