<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.ack.persist.mapper.ProjectMapper">
	<resultMap type="org.ack.pojo.Project" id="projectResultMap">
		<result property="id" column="id" />
		<result property="name" column="name" />
		<result property="departmentId" column="deptId" />
		<result property="departmentName" column="departmentName" />
		<result property="managerId" column="managerId" />
		<result property="managerName" column="managerName" />
		<result property="type" column="type" />
		<result property="status" column="status" />
		<result property="startTime" column="startTime" />
		<result property="endTime" column="endTime" />
		<result property="remark" column="remark" />
	</resultMap>
	
	<resultMap type="org.ack.pojo.Project" id="projectDeptResultMap" extends="projectResultMap">
	    <collection property="cooperativeSectors" ofType="org.ack.pojo.Department" column="id" select="findDepartment">
	    </collection>
	</resultMap>
     
     <sql id="base_column">
         id,name,deptId,managerId,type,status,startTime,endTime,remark
     </sql>
     <select id="findDepartment" parameterType="long" resultType="org.ack.pojo.Department">
         SELECT
			ad.id,
			ad.departmentName
		 FROM
			ack_department ad,
			ack_project_dept apd
		 WHERE
			apd.departmentId = ad.id
		 AND apd.projectId = #{id}
     </select>
     <select id="findByDepartmentId" parameterType="int" resultMap="projectResultMap">
         SELECT
			 ap.id,
			 ap. NAME,
			 ap.deptId,
			 ap.managerId,
			 ap.type,
			 ap.STATUS,
			 ap.startTime,
			 ap.endTime,
			 ap.remark
		 FROM
			 ack_project ap,
			 ack_project_dept apd
		 WHERE
			 ap.id = apd.projectId
		 AND apd.departmentId = #{departmentId}
		 AND ap.STATUS = 0
		
		 UNION
		
		 SELECT
			 ap.id,
			 ap. NAME,
			 ap.deptId,
			 ap.managerId,
			 ap.type,
			 ap.STATUS,
			 ap.startTime,
			 ap.endTime,
			 ap.remark
		 FROM
			 ack_project ap
		 WHERE
			 ap.deptId = #{departmentId}
			 AND ap.STATUS = 0
		     OR ap.type = 1
     </select>

	<insert id="insert">
		INSERT INTO
		ack_project(name,deptId,managerId, type, status,startTime,endTime,remark)
		VALUES
		(#{name}, #{departmentId},#{managerId},#{type}, #{status},#{startTime},#{endTime},#{remark})
	</insert>
	
	<insert id="insertReturnId" parameterType="project" >
	    <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="projectId">
            SELECT LAST_INSERT_ID()
        </selectKey>
		INSERT INTO
		ack_project(name,deptId,managerId, type, status,startTime,endTime,remark)
		VALUES
		(#{name}, #{departmentId},#{managerId},#{type}, #{status},#{startTime},#{endTime},#{remark})
	</insert>

	<update id="update" parameterType="project">
		UPDATE
		ack_project ar
		<set>
			<if test="name != null and name !=''">
				ar.name = #{name},
			</if>
			<if test="departmentId != null and departmentId !=''">
				ar.deptId = #{departmentId},
			</if>
			<if test="managerId != null and managerId !=''">
				ar.managerId = #{managerId},
			</if>
			<if test="type != null and type !=''">
				ar.type = #{type},
			</if>
			<if test="status != null and status !=''">
				ar.status = #{status},
			</if>
			<if test="startTime != null and startTime !=''">
				ar.startTime = #{startTime},
			</if>
			<if test="endTime != null and endTime !=''">
				ar.endTime = #{endTime},
			</if>
			<if test="remark != null and remark !=''">
				ar.remark = #{remark},
			</if>
		</set>
		WHERE ar.id = #{id}
	</update>

	<delete id="delete" parameterType="project">
	    DELETE FROM ack_project
        WHERE id = #{id}
	</delete>
	
	<delete id="deleteById" parameterType="long">
	    DELETE FROM ack_project
        WHERE id = #{id}
	</delete>

	<select id="find" parameterType="project" resultMap="projectDeptResultMap">
		 SELECT
	    <include refid="base_column"></include>
	    FROM
			ack_project
		WHERE
			id = #{id}
	</select>

	<select id="findById" parameterType="long" resultMap="projectDeptResultMap">
	    SELECT
	    <include refid="base_column"></include>
	    FROM
			ack_project
		WHERE
			id = #{id}
	</select>

	<select id="findInterceptorPageList" parameterType="org.ack.persist.page.Page"
		resultMap="projectResultMap">
		SELECT
		ap.id,
		ap.NAME,
		ap.deptId,
		ap.managerId,
		ap.type,
		ap.STATUS,
		ap.startTime,
		ap.endTime,
		ap.remark,
	    ad.departmentName as departmentName,
	    au.`name` as managerName
		FROM
		ack_project ap
		LEFT JOIN ack_department  ad ON ap.deptId = ad.id
        LEFT JOIN ack_user au ON ap.managerId = au.id
		<where>
		    1 = 1
		    OR ap.type = 1
			<if test="condition.name != null and condition.name !=''">
				ADN ap.name=#{condition.name}
			</if>
			<if test="condition.status != null and condition.status !=''">
				ADN ap.status=#{condition.status}
			</if>
			<if test="condition.managerId != null and condition.managerId !=''">
				ADN ap.managerId=#{condition.managerId}
			</if>
			<if test="condition.departmentId != null and condition.departmentId !=''">
				ADN ap.deptId=#{condition.departmentId}
			</if>
		</where>
	</select>

</mapper>