<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ack.persist.mapper.StockMapper" >
  <resultMap id="BaseResultMap" type="org.ack.pojo.Stock" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="productId" property="productId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="BIGINT" />
    <result column="inspectorId" property="inspectorId" jdbcType="BIGINT" />
    <result column="userId" property="userId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <association  property="brand" javaType="org.ack.pojo.Brand">
      <id property="id" column="brand_id"></id>
      <result property="name" column="brand_name"></result>
    </association>
    <association  property="product" javaType="org.ack.pojo.Product">
      <id property="id" column="productId"></id>
      <result property="name" column="product_name"></result>
    </association>
    <association  property="inspector" javaType="org.ack.pojo.User">
      <id property="id" column="inspectorId"></id>
      <result property="surname" column="inspector_surname"></result>
      <result property="name" column="inspector_name"></result>
    </association>
    <association  property="operator" javaType="org.ack.pojo.User">
      <id property="id" column="userId"></id>
      <result property="surname" column="operator_surname"></result>
      <result property="name" column="operator_name"></result>
    </association>
  </resultMap>
  <sql id="Base_Column_List" >
    id, productId, amount, inspectorId, userId, remark, createTime
  </sql>
  <select id="find" resultMap="BaseResultMap" parameterType="int" >
    select 
    <include refid="Base_Column_List" />
    from ack_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="findById" resultMap="BaseResultMap" parameterType="int" >
    select
    <include refid="Base_Column_List" />
    from ack_stock
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteById" parameterType="int" >
    delete from ack_stock
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.ack.pojo.Stock" >
    insert into ack_stock (id, productId, amount, 
      inspectorId, userId, remark, 
      createTime)
    values (#{id,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT}, #{amount,jdbcType=BIGINT}, 
      #{inspectorId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.ack.pojo.Stock" >
    insert into ack_stock
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="productId != null" >
        productId,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="inspectorId != null" >
        inspectorId,
      </if>
      <if test="userId != null" >
        userId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="productId != null" >
        #{productId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=BIGINT},
      </if>
      <if test="inspectorId != null" >
        #{inspectorId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="update" parameterType="org.ack.pojo.Stock" >
    update ack_stock
    <set >
      <if test="productId != null" >
        productId = #{productId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=BIGINT},
      </if>
      <if test="inspectorId != null" >
        inspectorId = #{inspectorId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        userId = #{userId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <select id="findInterceptorPageList" parameterType="org.ack.persist.page.Page"
          resultMap="BaseResultMap">
      SELECT
         ask.id,
         ask.productId,
         ask.amount,
         ask.inspectorId,
         ask.userId,
         ask.remark,
         aur.surname AS inspector_surname ,
         aur.`name` AS inspector_name,
         aur2.surname AS operator_surname,
         aur2.`name` AS operator_name,
         ask.createTime,
         apt.id AS product_id,
         apt.`name` AS product_name,
         abd.id AS brand_id,
         abd.`name` AS brand_name
      FROM
         ack_stock ask
      LEFT JOIN ack_product apt ON apt.id = ask.productId
      LEFT JOIN ack_brand abd ON apt.brandId = abd.id
      LEFT JOIN ack_user aur ON aur.id = ask.inspectorId
      LEFT JOIN ack_user aur2 ON aur2.id = ask.userId
      <where>
          1 = 1
        <if test="condition.productId != null and condition.productId !=''">
          and apt.id=#{condition.productId}
        </if>
        <if test="condition.inspectorId != null and condition.inspectorId !=''">
          and ask.id=#{condition.inspectorId}
        </if>
      </where>
  </select>

</mapper>