<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.ack.persist.mapper.TradeLogisticsMapper" >
  <resultMap id="BaseResultMap" type="org.ack.pojo.TradeLogistics" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="tradeId" property="tradeId" jdbcType="BIGINT" />
    <result column="logisticsId" property="logisticsId" jdbcType="BIGINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, tradeId, logisticsId, remark, createTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ack_trade_logistics
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ack_trade_logistics
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="org.ack.pojo.TradeLogistics" >
    insert into ack_trade_logistics (id, tradeId, logisticsId, 
      remark, createTime)
    values (#{id,jdbcType=BIGINT}, #{tradeId,jdbcType=BIGINT}, #{logisticsId,jdbcType=BIGINT}, 
      #{remark,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="org.ack.pojo.TradeLogistics" >
    insert into ack_trade_logistics
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="tradeId != null" >
        tradeId,
      </if>
      <if test="logisticsId != null" >
        logisticsId,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="createTime != null" >
        createTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="logisticsId != null" >
        #{logisticsId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.ack.pojo.TradeLogistics" >
    update ack_trade_logistics
    <set >
      <if test="tradeId != null" >
        tradeId = #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="logisticsId != null" >
        logisticsId = #{logisticsId,jdbcType=BIGINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        createTime = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.ack.pojo.TradeLogistics" >
    update ack_trade_logistics
    set tradeId = #{tradeId,jdbcType=BIGINT},
      logisticsId = #{logisticsId,jdbcType=BIGINT},
      remark = #{remark,jdbcType=VARCHAR},
      createTime = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>