<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.ack.sys.cms.persist.mapper.UserMapper">
	<resultMap id="BaseResultMap"
		type="org.ack.sys.cms.pojo.User">
		<id column="id" property="id" />
		<id column="username"  property="username" />
		<result column="state"  property="state" />
		<result column="type"  property="type" />
		<result column="email"  property="email" />
		<result column="password"  property="password" />
		<result column="realName"  property="realName" />
		<result column="qq"  property="qq" />
		<result column="mobile"  property="mobile" />
		<result column="avatar"  property="avatar" />
		<result column="createTime" property="createTime" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, state, type, email, realName, qq, createtime, mobile, avatar
	</sql>
	<insert id="insert">
	  INSERT INTO cms_user (username, password, state, type, email, realName, qq, createtime, mobile, avatar)
      VALUES (#{username}, #{password}, #{state}, #{type}, #{email}, #{realName}, #{qq},#{createTime},#{mobile},#{avatar})
	</insert>
	<select id="find" parameterType="org.ack.sys.cms.pojo.User" resultMap="BaseResultMap">
	   SELECT
		 <include refid="Base_Column_List"></include>
	   FROM
			cms_user
	   WHERE
			id = #{id}
	</select>
	<select id="findUserByUserName" parameterType="string" resultMap="BaseResultMap">
	   SELECT
		 <include refid="Base_Column_List"></include>
	   FROM
			cms_user
	   WHERE
			username = #{username}
	</select>

</mapper>